wsdl/SchemaOrig.wsdl

<wsdl:definitions xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://tempuri.org/">
    <wsdl:types>
        <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
            <s:element name="TestService">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="message" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="TestServiceResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="TestServiceResult"
                                   type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="SendOrder">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="docMessage" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="partnerID" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="SendOrderResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="SendOrderResult" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="GetOrderResult">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="loadlistNo" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="orderYear" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="partnerID" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="warehouseID" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="GetOrderResultResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="GetOrderResultResult"
                                   type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="SendInventoryRequest">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="message" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="partnerID" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="SendInventoryRequestResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="SendInventoryRequestResult"
                                   type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="GetInventoryResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="requestID" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="partnerID" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="warehouseID" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="GetInventoryResponseResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="GetInventoryResponseResult"
                                   type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
        </s:schema>
    </wsdl:types>
    <wsdl:message name="TestServiceSoapIn">
        <wsdl:part name="parameters" element="tns:TestService"/>
    </wsdl:message>
    <wsdl:message name="TestServiceSoapOut">
        <wsdl:part name="parameters" element="tns:TestServiceResponse"/>
    </wsdl:message>
    <wsdl:message name="SendOrderSoapIn">
        <wsdl:part name="parameters" element="tns:SendOrder"/>
    </wsdl:message>
    <wsdl:message name="SendOrderSoapOut">
        <wsdl:part name="parameters" element="tns:SendOrderResponse"/>
    </wsdl:message>
    <wsdl:message name="GetOrderResultSoapIn">
        <wsdl:part name="parameters" element="tns:GetOrderResult"/>
    </wsdl:message>
    <wsdl:message name="GetOrderResultSoapOut">
        <wsdl:part name="parameters" element="tns:GetOrderResultResponse"/>
    </wsdl:message>
    <wsdl:message name="SendInventoryRequestSoapIn">
        <wsdl:part name="parameters" element="tns:SendInventoryRequest"/>
    </wsdl:message>
    <wsdl:message name="SendInventoryRequestSoapOut">
        <wsdl:part name="parameters" element="tns:SendInventoryRequestResponse"/>
    </wsdl:message>
    <wsdl:message name="GetInventoryResponseSoapIn">
        <wsdl:part name="parameters" element="tns:GetInventoryResponse"/>
    </wsdl:message>
    <wsdl:message name="GetInventoryResponseSoapOut">
        <wsdl:part name="parameters" element="tns:GetInventoryResponseResponse"/>
    </wsdl:message>
    <wsdl:portType name="WMSDataExchangeServiceSoap">
        <wsdl:operation name="TestService">
            <wsdl:input message="tns:TestServiceSoapIn"/>
            <wsdl:output message="tns:TestServiceSoapOut"/>
        </wsdl:operation>
        <wsdl:operation name="SendOrder">
            <wsdl:input message="tns:SendOrderSoapIn"/>
            <wsdl:output message="tns:SendOrderSoapOut"/>
        </wsdl:operation>
        <wsdl:operation name="GetOrderResult">
            <wsdl:input message="tns:GetOrderResultSoapIn"/>
            <wsdl:output message="tns:GetOrderResultSoapOut"/>
        </wsdl:operation>
        <wsdl:operation name="SendInventoryRequest">
            <wsdl:input message="tns:SendInventoryRequestSoapIn"/>
            <wsdl:output message="tns:SendInventoryRequestSoapOut"/>
        </wsdl:operation>
        <wsdl:operation name="GetInventoryResponse">
            <wsdl:input message="tns:GetInventoryResponseSoapIn"/>
            <wsdl:output message="tns:GetInventoryResponseSoapOut"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="WMSDataExchangeServiceSoap" type="tns:WMSDataExchangeServiceSoap">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="TestService">
            <soap:operation soapAction="http://tempuri.org/TestService" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="SendOrder">
            <soap:operation soapAction="http://tempuri.org/SendOrder" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetOrderResult">
            <soap:operation soapAction="http://tempuri.org/GetOrderResult" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="SendInventoryRequest">
            <soap:operation soapAction="http://tempuri.org/SendInventoryRequest" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetInventoryResponse">
            <soap:operation soapAction="http://tempuri.org/GetInventoryResponse" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="WMSDataExchangeServiceSoap12" type="tns:WMSDataExchangeServiceSoap">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="TestService">
            <soap12:operation soapAction="http://tempuri.org/TestService" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
                </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="SendOrder">
            <soap12:operation soapAction="http://tempuri.org/SendOrder" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetOrderResult">
            <soap12:operation soapAction="http://tempuri.org/GetOrderResult" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="SendInventoryRequest">
            <soap12:operation soapAction="http://tempuri.org/SendInventoryRequest" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetInventoryResponse">
            <soap12:operation soapAction="http://tempuri.org/GetInventoryResponse" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="WMSDataExchangeService">
        <wsdl:port name="WMSDataExchangeServiceSoap" binding="tns:WMSDataExchangeServiceSoap">
            <soap:address location="http://212.200.68.36/TEST.PT.WMS.DES/test.pt.wms.des.asmx"/>
        </wsdl:port>
        <wsdl:port name="WMSDataExchangeServiceSoap12" binding="tns:WMSDataExchangeServiceSoap12">
            <soap12:address location="http://212.200.68.36/TEST.PT.WMS.DES/test.pt.wms.des.asmx"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>